{{ v_loop.results[0].stdout_lines[1] }}

{{ v_loop.results[1].stdout_lines[1] }}
**************************************************
{{ v_loop['results'][0]['stdout'] }}

{{ v_loop['results'][1]['stdout'] }}

{% for i in v_loop['results'] %}
{{ ansible_host }}
{{ i['stdout'] }}

{% endfor %}
